<footer class="footer">
    <div class="footer__inner">
        <h3 class="footer__logo"><a href="#none"><img src="../img/logo_playwith.png" alt=""></a></h3>
        <p class="footer__copyright">
                <a href="#none">&copy; PLAYWITH GAMES Inc. All Rights Reserved.</a>
        </p>
        <!-- [D] 클릭 시 'is-show' 클래스 추가 -->
        <div class="footer__select language">
            <button type="button" class="language__btn"><span class="language__name">한국어</span></button>
            <ul class="language__list">
                <!-- [D] 클릭 시 'is-choose' 클래스 추가 -->
                <li class="language__item"><a href="#none">ภาษาไทย</a></li>
                <li class="language__item"><a href="#none">Bahasa Indonésia</a></li>
                <li class="language__item"><a href="#none">English</a></li>
                <li class="language__item"><a href="#none">繁體中文</a></li>
                <li class="language__item is-choose"><a href="#none">한국어</a></li>
            </ul>
        </div>
    </div>
</footer>