<header id="header" class="header">
    <h1 class="logo"><a href="#none" class="logo__link"><img src="../img/logo.png" alt="Seal M"></a></h1>

    <!-- account -->
    <div class="user">
        <div class="user__avatar"><img src="../img/@temp_avatar.png" alt=""></div>
        <div class="user__info">
            <!-- [D] 스타일이 'display:none'인 요소 제거 -->
            <div class="user__name" style="display:none"><span>WWWWWWWW22</span>님</div>
            <a href="#none" class="user__btn user__btn--login">로그인</a>
            <a href="#none" class="user__btn user__btn--logout" style="display:none">로그아웃</a>
        </div>
    </div>
    <!-- // account -->

    <!-- search -->
    <div class="search">
        <input type="text" placeholder="검색어를 입력해주세요." class="search__input">
        <button type="button" class="search__btn"><span class="blind">검색</span></button>
    </div>
    <!-- // search -->

    <!-- Navigation -->
    <nav class="lnb ">
        <ul class="lnb__list scrollbar-macosx">
            <li class="lnb__item">
                <a href="#none" class="lnb__link">공식 홈페이지</a>
            </li>
            <li class="lnb__item">
                <a href="#none" class="lnb__link">전체 글</a>
            </li>
            <!-- 태그에 두 번째 하위 메뉴가 포함되어 있으면 클래스가 있습니다 'is-depth2' -->
            <!-- [D] 클릭 시 'is-show' 클래스 전환 -->
            <li class="lnb__item is-depth2">
                <a href="#none" class="lnb__link">소식</a>
                <ul class="lnb__depth2">
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">공지사항</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">업데이트</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">개발자노트</a></li>
                </ul>
            </li>
            <li class="lnb__item is-depth2">
                <a href="#none" class="lnb__link">이벤트</a>
                <ul class="lnb__depth2">
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">진행중 이벤트</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">당첨자 발표</a></li>
                </ul>
            </li>
            <li class="lnb__item is-depth2">
                <a href="#none" class="lnb__link">가이드</a>
                <ul class="lnb__depth2">
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">게임 소개</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">게임 가이드</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">FAQ</a></li>
                </ul>
            </li>
            <li class="lnb__item is-depth2">
                <a href="#none" class="lnb__link">커뮤니티</a>
                <ul class="lnb__depth2">
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">자유게시판</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">길드게시판</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">스크린샷</a></li>
                </ul>
            </li>
            <li class="lnb__item is-depth2">
                <a href="#none" class="lnb__link">직업토론</a>
                <ul class="lnb__depth2">
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">공략 &amp; TIP</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">캐릭터 공략</a></li>
                    <li class="lnb__depth2-item"><a href="#none" class="lnb__depth2-link">직업 공략</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- // Navigation -->
</header>