/* Nanum Gothic */
@font-face {
  font-family:'NotoSanKR';
  src:url(../font/NotoSanKR-Bold.woff) format('woff'),;
}
@font-face {
  font-family:'NotoSanKR';
  src:url(../font/NotoSanKR-Meidum.woff) format('woff');
}
@font-face {
  font-family:'NotoSanKR';
  src:url(../font/NanumGothic-Regular.woff) format('woff');
}